@import '../../styles/colors';

.images {
  display: flex;
  margin: 2rem auto 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 125rem;
  font-size: 2rem;
  color: $white;

  &__thumb{

    width: 25rem;
    height: 30rem;
    object-fit: cover;
    margin-top: 1rem;
    margin-right: 1rem;

  }
}


